<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>GeoVac</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/layoutv2.css}" rel="stylesheet" />
</head>

<body>

<h1 class="maintitle">GeoVac
    <footer class="footer">A Vaccine Registration Utility </footer>
</h1>

<div class="container">
    <ul>
        <li>
            <input type="radio" id="f-option" name="selector">
            <a for="f-option"> Dashboard</a>

            <div class="check"><div class="inside"></div></div>
        </li>

        <li>
            <input type="radio" id="s-option" name="selector">
            <a for="s-option" th:href="@{/showNewClientForm}">Register</a>

            <div class="check"><div class="inside"></div></div>
        </li>

    </ul>
</div>


</body>

</html>